header{
    height: 3em;
    color:aliceblue;
    position: fixed;
    top:0;
    font-size:1.5em;
    text-align: center;
    background-color: red;
    width:100%;
    right:0;
}

.name{
  font-size: 0.5em;
}


body {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: black;
}

main {
  font-size: 0.3em;
  color: white;
  margin-top: 20px;
}

img{
  top: 20px;
  width:300px;
}

#map {
  width: 300px;
  height: 250px;
  position: relative;
  top: 450px; 
}


footer{
  color:white;
  font-size: 1.0em;
  position: absolute;
  bottom: 0;
  right:0px;
}